:root {
  --prime-color: #eaeaea;
  --prime-color-a50: #eaeaeaca;
  --accent-color: #cdd595;
  --bg-color: #2f2767;
  --bg-gradient: linear-gradient(64deg, #2f2767, #0a071e);
  --bg-g-lavender: linear-gradient(
    54deg,
    rgba(128, 131, 168, 1) 0%,
    rgba(193, 196, 231, 1) 51%,
    rgba(200, 203, 238, 1) 100%
  );
  --px: 0.587rem;
  --py: 0.33rem;

  /* --bg-gradient-webkit: -webkit-linear-gradient(
    to right,
    #2c5364dd,
    #203a43dd,
    #0f2027dd
  ); */
  --font: "Elmono";
  --letter-spacing: 0.03rem;
  --line-height: 1.75;
  --cool-text-shadow: 2px 2px 1px rgba(206, 206, 206, 0.52);

  /* font sizes */
  --text-lvl-1: 4.209rem;
  --text-lvl-2: 3.157rem;
  --text-lvl-3: 2.369rem;
  --text-lvl-4: 1.777rem;
  --text-lvl-5: 1.333rem;
  --text-lvl-small: 0.75rem;
}
html {
  font-size: 112.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg-gradient);
  font-family: var(--font), monospace;
  color: var(--prime-color);
  font-weight: 500;
  line-height: var(--line-height);
  word-break: keep-all;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 100%;
}

p {
  line-height: var(--line-height);
}

ol,
ul {
  list-style: none;
}
/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* typography system */
.font-level-1 {
  font-size: 4.209rem;
}

.font-level-2 {
  font-size: 3.157rem;
}

.font-level-3 {
  font-size: 2.369rem;
}

.font-level-4 {
  font-size: 1.777rem;
}

.font-level-5 {
  font-size: 1.333rem;
}

.font-level-small {
  font-size: 0.75rem;
}
